# Ignore environment files with secrets
/ecoscan_backend/.env
/ecoscan_frontend/.env
/ecoscan_frontend/.env.production

# Node modules
/ecoscan_frontend/node_modules/

# IntelliJ
.idea/# Backend
ecoscan_backend/target/
ecoscan_backend/.idea/
ecoscan_backend/*.log

# Frontend
ecoscan_frontend/node_modules/
ecoscan_frontend/dist/

# General
.env
.idea/
*.iml